<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mindbody_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Minbody_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mindbody_API.Properties.Settings>
            <setting name="Minbody_API_mindbodyonline_classes_Class_x0020_Service" serializeAs="String">
                <value>http://api.mindbodyonline.com/0_5/ClassService.asmx</value>
            </setting>
            <setting name="Minbody_API_mindbodyonline_appointments_Appointment_x0020_Service" serializeAs="String">
                <value>http://api.mindbodyonline.com/0_5/AppointmentService.asmx</value>
            </setting>
            <setting name="Minbody_API_mindbodyonline_clients_Client_x0020_Service" serializeAs="String">
                <value>http://api.mindbodyonline.com/0_5/ClientService.asmx</value>
            </setting>
        </Mindbody_API.Properties.Settings>
        <Minbody_API.Properties.Settings>
            <setting name="Minbody_API_mindbodyonline_classes_Class_x0020_Service" serializeAs="String">
                <value>http://api.mindbodyonline.com/0_5/ClassService.asmx</value>
            </setting>
            <setting name="Minbody_API_mindbodyonline_appointments_Appointment_x0020_Service" serializeAs="String">
                <value>http://api.mindbodyonline.com/0_5/AppointmentService.asmx</value>
            </setting>
        </Minbody_API.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
